html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    font-family:sans-serif;
}

#modal{
	position:absolute;
	top:50px;
	left:50px;
	width:500px;
	background:#FEFEFE;
	box-shadow:0px 2px 10px rgba(0,0,0,0.4);
	border:1px solid #999;
	border-radius:10px;
}

#modal > header, #modal > div, #modal footer{
	padding:20px;
}

#modal > header{
	border-bottom:1px solid #999;
}

#modal > footer{
	border-top:1px solid #999;
}

.btn{
	outline:none;
	border:none;
	padding:10px;
	width:60px;
	height:60px;
	position:absolute;
	border-radius:50%;
	cursor:pointer;
	background:none;
	text-align:center;
	top:20px;
	transition:all .2s;
}
.btn::before{
	font-size:20px;
}
.btn:hover{
	background-color:#eee;
}
.btn.back{
	left:20px;
}

.levelselect, .titlemenu{
	margin:auto;
	margin-top:100px;
	width:500px;
	text-align:center;
}

.levelselect h1, .titlemenu h1{
	font-size:40px;
	margin-bottom:25px;
}